<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <div class="xx">
            <mat-toolbar>Menu</mat-toolbar>
        </div>

        <mat-nav-list>
            <a mat-list-item routerLink="/addlicence">
                <mat-icon>playlist_add</mat-icon> Add Licence</a>
            <a mat-list-item routerLink="/licences">
                <mat-icon>playlist_add_check</mat-icon> Licences</a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span>Licences Management</span>
        </mat-toolbar>
        <!-- Add Content Here -->
        <div class="wrapper">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>
